<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ product[0].name }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header class="p-3 text-bg-dark">
      <div class="display text-center m-2">
        <a href="../Controller/allproducts.php"
          ><img
            src="../productimages/Web4ShopHeader.png"
            height="25%"
            width="25%"
        /></a>
      </div>
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
      <ul
      class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    >
      <li><a href="top5.php" class="nav-link px-2 text-white">Accueil</a></li>
      <li><a href="allproducts.php" class="nav-link px-2 text-white">Tout les produits</a></li>
      {% for c in categories %}
      {% if cat == c.id %}
        <li>
          <a href="allproducts.php?cat={{c.id}}" class="nav-link px-2 text-secondary">{{c.name|capitalize}}</a></li>
        {% else %}
        <li><a href="allproducts.php?cat={{c.id}}" class="nav-link px-2 text-white">{{c.name|capitalize}}</a></li>
      {% endif %}
      {% endfor %}
      
    </ul>

        <div class="text-end">
          <a
            class="btn btn-warning rounded-circle p-2 lh-1 m-2 position-relative"
            href="orderitems.php"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              fill="currentColor"
              class="bi bi-cart2"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
              />
            </svg>
            {% if nb_prod>0 %}
            <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-danger">
              {{nb_prod}}
            </span>
            {% endif %}
          </a>
          {% if connexion %}
          <form method="post" action="allproducts.php">
            <button name="deconnexion" class="btn btn-outline-light me-2">
              Logout
            </button>
          </form>
          <h5></h5>
          {% else %}
          <a href="LoginController.php" class="btn btn-outline-light me-2">
            Login
          </a>
          <a class="btn btn-warning" href="SignupController.php">Sign-up</a>
          {% endif %}
        </div>
      </div>
    </header>
    <form method="post" action="orderitems.php">
    <div class="row">
      <img
        class="col-md-2 col-sm-3 m-5 w-5 h-5 shadow"
        src="../productimages/{{ product[0].image }}"
        alt="{{ product[0].name }}"
      />
      <div class="col-md-5 col-sm-9 m-5">
        <h1
          class="row"
          style="font-family: 'Lucida Console', Courier, monospace"
        >
          {{ product[0].name }}
        </h1>
        <input type="hidden" name="prod" value="{{ product[0].id }}">

        <div class="row">
          Descrtiption:<br />
          {{ product[0].description }} 
          <div class="container row pt-2">
            <small class="text-body-secondary col-md-4">Quantité Restante : {{ product[0].quantity }}</small>
            
            {% if product[0].quantity==0 %}
            <select class="form-select w-auto rounded-pill form-select-sm col-md-1" aria-label="Disabled select example" disabled>
              <option selected class="danger-text">Victime de son succés 🔥</option>
            </select>
            {% else %}
            
             <select name="quantite" class="form-select w-auto h-auto rounded-pill form-select-sm col-md-1" aria-label="Default select example">
              <option selected>1</option>
              {% if product[0].quantity>=2 %}
              {% for i in 2..product[0].quantity %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
              {% endif %}
            </select>
            {% endif %}
          </div>
          
        <div class="d-flex justify-content-between align-items-center row pt-3">
          <div class="col-md-2"><strong>{{ product[0].price }} €</strong></div>
          <button type="submit" name="ajouterAuPanier" class="btn btn-warning col-md-2 col-md-offset-1 btn-outline-dark">Ajouter Au Panier 
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
          </svg>
          </button>
        </div>
      </div>
    </div>
  </form>
    <div class="m-5">
    <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Les Avis</h3>
      {% for avi in avis %}
      <div class="row">
        <div class="col-md-2 col-sm-3">
          <img class="img-fluid rounded-circle h-50 w-50" src="../productimages/{{ avi.photo_user }}" alt="">
          <p class="text-primary m-3 p-3 mt-0">{{avi.name_user}}</p>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="row"><strong>{{avi.title}}</strong> 
            {% for i in 0..avi.stars-1 %}
              <img style="height: 5% ; width:5%;" class="p-1" src="../productimages/review_star.png" alt="">
            {% endfor %}
            {% if avi.stars!=5 %}
            {% for i in 1..(5-avi.stars) %}
            <img class="p-1" style="height: 5% ; width:5%;" src="../productimages/review_gray.png" alt="">
          {% endfor %}
            {% endif %}
            
          </div>
          <div class="row" style="font-family: Arial, Helvetica, sans-serif;">{{avi.description}}</div>
          
        </div>
       
      </div>
      {% endfor %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
